---
import { sanity } from "src/sanityClient"
import "./Welcome.scss"
import { PortableText } from "astro-portabletext"

const query =  `*[_type == "welcome"] {
      title,
      greenWord,
      firstParagraph,
      secondParagraph,
      lastSentence
    }`
const data = await sanity.fetch(query);
const welcomeTexts = data[0];
---

<section id="inici" class="welcome">
  <div class="welcome__content-container">
    <img src="planta.jpg" height="470" width="auto" alt="planta" />
    <div class="welcome__text-wrapper">
      <h3 class="welcome__title">{welcomeTexts.title}<span> {welcomeTexts.greenWord}</span></h3>
      <PortableText value={welcomeTexts.firstParagraph} />
      <PortableText value={welcomeTexts.secondParagraph} />
      <p>{welcomeTexts.lastSentence}</p>
      <div class="welcome__buttons-wrapper">
        <a class="welcome__button">Contacta</a>
        <a class="welcome__button welcome__button--secondary">Veure treballs</a>
      </div>
      </div>
  </div>
</section>
