---
import "./Footer.scss";
import { SocialMediaLink } from "@components/index";
import socialMediaLinks from "../../data/socialMediaLinks";
import { sanity } from "src/sanityClient";

const data = await sanity.fetch('*[_type == "contact"]');
const contactInfo = data[0];
---

<footer class="footer">
  <section class="footer__content-container">
    <div class="footer__left-container">
      <span class="footer__logo">Jardineria Canadell</span>
      <div class="footer__contact">
        <a href=`tel:${data.phoneNumber}`>{contactInfo.phoneNumber}</a>
        <a href=`mailto:${data.email}`>{contactInfo.email}</a>
      </div>
      <div>
        <ul class="footer__social">
          {
            socialMediaLinks.map((link) => (
              <li>
                <SocialMediaLink
                  href={link.url}
                  icon={link.icon}
                  alt={link.alt}
                />
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="footer__right-container">
    </div>
  </section>
</footer>
